<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/soccerplayer"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DreamWorld"
        tools:targetApi="31">
        <activity
            android:name=".news"
            android:exported="false" />
        <activity
            android:name=".error"
            android:exported="false" />
        <activity
            android:name=".tv"
            android:exported="false" />
        <activity
            android:name=".vip"
            android:exported="false" />
        <activity
            android:name=".stream"
            android:exported="false" />
        <activity
            android:name=".chooseleague"
            android:exported="false" />
        <activity
            android:name=".menu"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".Assets"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3348841996734968~7071377672" />
    </application>

</manifest>